.parrent {
  font-family: sans-serif;
  width: 35%;
  border: 1px solid #ccc;
  margin: auto;
  padding: 20px;
}
.parrent h1 {
  text-align: center;
}
.parrent .review-content {
  padding: 20px;
  border-bottom: 1px dotted #000;
}
.parrent .button {
  border-bottom: 1px dotted #000;
  padding-top: 20px;
  padding-left: 20px;
}
.parrent .button button {
  padding: 10px;
  border-radius: 2px;
  border: none;
  margin-bottom: 2px;
}
.parrent .button button:hover {
  border: 1px solid #ccc;
}
.parrent .title-textarea label {
  margin-bottom: 20px;
}
.parrent .simple-review-form {
  display: block;
  margin-bottom: 10px;
}
.parrent .simple-review-form form {
  margin-bottom: 30px;
}
.parrent .simple-review-form .label {
  display: inline-block;
  width: 45%;
}
.parrent .simple-review-form .input {
  display: inline-block;
  border: 2px solid #a9a9a9;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  padding: 5px;
}
.parrent .checkbox span {
  color: red;
  font-weight: bold;
}
.parrent .checkbox .submit {
  padding: 10px 50px 10px 50px;
  border-radius: 2px;
  border: none;
}
.parrent .checkbox .submit:hover {
  border: 1px solid #ccc;
}
